body {
    font-weight: 550;
    border: 2px solid black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul li {
    display: inline-block;
    margin: 15px;
    color: #555555;
}

.navbar img {
    position: absolute;
    right: 50px;
    display: inline-block;
}

.article {
    background-color: #EF7D73;
    color: #ffffff;
}

.content {
    display: inline-block;
    margin: 5%;
}

.navbar {
    text-align: left;
}

.underLine {
    text-decoration: underline;
}