@keyframes change-box-position {
    0% {
        left: -200px;
    }
    100% {
        left:300px
    }
}
.box{
    animation: change-box-position 4s ;
    position: absolute;
    width :200px;
    height: 300px;
    background-color: goldenrod;  
    text-align: center;
    margin-top: 25px;  
    padding-top: 30px;
    color: rgb(0, 53, 151);
}
   