.outerBox{
    display: inline-block;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}
.box{
background-color: yellow;
width: 60%;
height: 60%;
margin: auto;
}
.hidden{
    display: none;
}