.main{
    display: flex;
    justify-content: space-around;
}
body {
    background: silver;
}

.card {
    flex-basis: 25%;
    text-align: center;
    margin: 20px;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
}

.indicator {
    margin-top: 300px;
    display: block;
    bottom: 20px;
}

span {
    font-size: 50px;
}